*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container{
    border: 1px solid red;
    height: 100vh;
}


.portfolio-image{
    border: 1px solid red;
    height: 350px;
    width: 35%;
    margin: 2rem auto;
    margin-bottom: 1rem;
}

.portfolio-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolion-intro{
    border: 1px solid red;
    height: auto;
    width: 60%;
    margin: auto;
    padding: 1rem 2rem;
}

.portfolion-intro h1{
    text-align: center;
    font-size: 3.75em;
    margin: 1rem;
    margin-top: 0;
}

.portfolion-intro p{
    margin: 1rem;
}

.portfolion-intro a{
    color: inherit;
}

.page-footer{
    border: 1px solid red;
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tool-box img{
    border: 1px solid red;
    height: 100px;
    width: 200px;
}