*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container{
    border: 1px solid red;
    height: 100vh;
}


.portfolio-image{
    border: 1px solid red;
    height: 350px;
    width: 35%;
    margin: 2rem auto;
    margin-bottom: 0;
}

.portfolion-intro{
    border: 1px solid red;
    height: auto;
    width: 60%;
    margin: auto;
    padding: 1rem 2rem;
}

.portfolion-intro h1{
    text-align: center;
    font-size: 3.75em;
    margin: 1rem;
    margin-top: 0;
}

.portfolion-intro p{
    margin: 1rem;
}

.portfolion-intro a{
    color: inherit;
}